.posts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-card {
  display: flex;
  gap: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  background: #fafafa;
  align-items: flex-start; 
}


.post-image-box {
  width: 300px;
  flex-shrink: 0;
}
.post-image {
  width: 300px;         
  height: auto;
  object-fit: cover;    
  border-radius: 8px;
}